extends base.pug

block extrahead
  <link rel="stylesheet" href="/styles/home.css">

block outercontent
  <img src="/assets/zirkuit_black.png" alt="">
  <a href="/jobs/index.pug" class="button">Join the team →</a>
