extends base.pug

block extrahead
  <link rel="stylesheet" href="./styles/jobs.css">

block content
  a(href='./index.pug')
    img.logo(src='./assets/zirkuit_black.png', alt='')
  h1 Join Us
  p.secondarytitle
    | We&apos;re shaping the future with experiments and solutions to modern-day problems. 
    br
    |  We&apos;re looking for open-minded, talented people to help us with our mission.
  .card
    a(href="#")
      h2 Software, Front-End
      h3 Remote

