body {
    display: flex;
    justify-content: center;
}

body .logo {
    width: 200px;
    height: auto;
}

.secondarytitle {
    font-size: 20px;
    font-weight: 400;
    color: var(--gray);
    text-align: center;
}

.card {
    width: 100%;
    height: 160px;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 50px;
    transition: .2s;
}

h2 {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 2px;
}

h3 {
    font-weight: 700;
    font-size: 1.17em;
    color: var(--gray);
    text-transform: uppercase;
    margin-top: 2px;
}

.card a {
    padding: 0px 40px 10px 40px;
    height: fill-available;
    width: fill-available;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border: var(--gray) 2px solid;
}

.learn-more-button-div {
    margin-top: 32px;
    margin-bottom: 30px;
}

@media (hover: hover) and (pointer: fine) {
    .card:hover {
        transform: scale(1.05);
    }
}

footer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.smaller {
    font-size: 80px;
    margin-top: -50px;
}

.jobdesc {
    color: rgb(222, 222, 222);
    margin-top: 50px;
}

.headertop {
    font-size: 50px;
    color: var(--gray);
}

@media only screen and (max-width: 1000px) {
    .smaller {
        font-size: 70px;
    }
    .headertop {
        font-size: 40px;
    }
    .secondarytitle {
        font-size: 18px;
    }
}

@media only screen and (max-width: 880px) {
    .smaller {
        font-size: 60px;
        margin-top: -40px;
    }
    .headertop {
        font-size: 30px;
    }
    .secondarytitle {
        font-size: 17px;
    }
}

@media only screen and (max-width: 700px) {
    .smaller {
        font-size: 50px;
    }
    .headertop {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .maincontent {
        padding-left: 20px;
        padding-right: 20px;
    }
    .secondarytitle {
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px) {
    .smaller {
        font-size: 40px;
        margin-top: -30px;
    }
    .headertop {
        font-size: 20px;
    }
    .secondarytitle {
        font-size: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .smaller {
        font-size: 35px;
    }
    .headertop {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .card a {
        padding: 0px 20px 5px 20px;
        height: 130px;
    }
    .card {
        margin-bottom: -40px;
    }
    .card a h2 {
        font-size: 22px;
    }
    .card a p {
        font-size: 17px;
    }
}

@media only screen and (max-width: 460px) {
    .smaller {
        font-size: 30px;
    }
    .headertop {
        font-size: 20px;
    }
}

@media only screen and (max-width: 340px) {
    .smaller {
        font-size: 27px;
    }
    .headertop {
        font-size: 20px;
    }
}