:root {
    --gray: rgb(138, 138, 138);
}

body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


* {
    color: white;
    font-family: 'Palanquin', sans-serif;
    outline: none;
}

.button {
    min-width: 200px;
    padding: 20px;
    border: var(--gray) 2px solid;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(226, 226, 226, 0.808);
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    background-size: 200% 100%;
    background-position:left bottom;
    transition: .2s;
    font-size: 16px;
}

.button:hover {
    color: white;
}

.maincontent {
    max-width: 760px;
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

h1 {
    font-weight: 700;
    font-size: 100px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: -40px;
}

a {
    text-decoration: none;
    margin: 0;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 75px;
    }
}

@media only screen and (max-width: 880px) {
    h1 {
        font-size: 65px;
        margin-bottom: -30px;
    }
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 55px;
        margin-bottom: -20px;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 45px;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 460px) {
    h1 {
        font-size: 35px;
    }
    .button {
        padding: 15px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 340px) {
    h1 {
        font-size: 32px;
    }
}
